﻿<script type="text/javascript" src="template.js"></script>
<template class="SSN-Plugins-UpdateSSApproverElement-Main-Template">
    <style>
        .SSN-Plugins-UpdateSSApproverElement-overlay {
            border-radius: 5px;
        }

            .SSN-Plugins-UpdateSSApproverElement-overlay > .content {
                border-radius: 5px;
            }

                .SSN-Plugins-UpdateSSApproverElement-overlay > .content > .header {
                    height: 30px;
                    line-height: 33px;
                    background: #6a6f7a;
                }

                .SSN-Plugins-UpdateSSApproverElement-overlay > .content > .maximizeButton {
                    right: 30px;
                }

                .SSN-Plugins-UpdateSSApproverElement-overlay > .content > .maximizeButton,
                .SSN-Plugins-UpdateSSApproverElement-overlay > .content > .closeButton {
                    background-size: 22px;
                    width: 22px;
                    height: 22px;
                }

        .SSN-Plugins-UpdateSSApproverElement-Main > div {
            position: relative;
            padding: 10px;
            height: 30px;
            line-height: 30px;
        }

            .SSN-Plugins-UpdateSSApproverElement-Main > div:nth-child(odd) {
                background: #EBF2F9;
            }

            .SSN-Plugins-UpdateSSApproverElement-Main > div > label {
                display: inline-block;
                width: 200px;
                text-align: center;
            }

            .SSN-Plugins-UpdateSSApproverElement-Main > div > button {
                float: right;
            }

        .SSN-Plugins-UpdateSSApproverElement-Main {
            display: none;
        }

        .window .SSN-Plugins-UpdateSSApproverElement-Main {
            display: block;
        }
    </style>
    <div class="SSN-Plugins-UpdateSSApproverElement-Main">
        <div>
            <label>Approver field name</label>
            <span>
                <select class="ApproverElementTitleList"></select>
            </span>
        </div>
        <div>
            <label>Role</label>
            <span>
                <select class="RoleList"></select>
            </span>
        </div>
        <div>
            <button class="UpdateApproverElement">Update</button>
        </div>
    </div>
</template>
<template class="InfoTemplate">
    <div class="SSN-Plugins-UpdateSSApproverElement">
        <div class="title">
            <h3>Ensure all configuration settings are correct.</h3>
        </div>
    </div>
</template>
<script>
    (function () {

        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;

        MarvalSoftware.Plugins.define("SSN-Plugins-UpdateSSApproverElement",
            {
                _pluginPath: null,
                _element: null,
                _messageElement: null,
                _globalSettings: null,
                _page: null,
                _pluginWindow: null,
                _eventManager: null,
                _approverElementTitleList: null,
                _roleList: null,
                _updateApproverElement: null,

                init: function () {
                    document.addEventListener('DOMContentLoaded', function () {

                        /* Get global settings */
                        this._getGlobalSettings();

                        /* Get page */
                        this._page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();
                        this._pluginPath = this._getPluginPath();
                        this._eventManager = MarvalSoftware.UI.Dom.EventManager.getInstance();

                        /* Append icon */
                        this._setUpQuickMenu();


                    }.bind(this));
                },

                _renderElement: function () {

                    var _template = document.querySelector('template').content;
                    var _element = window.top.document.importNode(_template, true);

                    this._approverElementTitleList = _element.querySelector(".ApproverElementTitleList");
                    this._roleList = _element.querySelector(".RoleList");
                    this._updateApproverElement = _element.querySelector(".UpdateApproverElement");

                    this._eventManager.addHandler(this._updateApproverElement, "click", this._updateApproverElement_click, this);

                    this.appendChild(_element);

                },

                _renderApproverElementTitleList: function () {

                    var option = document.createElement("option");
                    option.text = "";
                    option.value = "";
                    this._approverElementTitleList.appendChild(option);

                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "handler/GetApproverElementTitleList.ashx",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result) {
                                for (var i = 0; i < result.length; i++) {
                                    var option = document.createElement("option");
                                    option.text = result[i];
                                    option.value = result[i];
                                    this._approverElementTitleList.appendChild(option);
                                }
                            }
                        }.bind(this)
                    });
                },

                _renderRoleList: function () {

                    var option = document.createElement("option");
                    option.text = "";
                    option.value = 0;
                    this._roleList.appendChild(option);

                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "handler/GetRoleList.ashx",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result) {
                                for (var i = 0; i < result.length; i++) {
                                    var option = document.createElement("option");
                                    option.text = result[i].Name;
                                    option.value = result[i].Identifier;
                                    this._roleList.appendChild(option);
                                }
                            }
                        }.bind(this)
                    });
                },

                _setUpQuickMenu: function () {

                    var styleElement = window.top.document.createElement("style");
                    window.top.document.body.appendChild(styleElement);
                    styleElement.sheet.insertRule(".SSN-Plugins-UpdateSSApproverElement-Icon { background-image: url(\"" + this._getPluginPath() + "img/person_male_32.png\"); }", 0);

                    var quickMenuId = window.top.document.querySelector(".quickMenu").id;
                    var quickMenu = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getControl(quickMenuId);
                    quickMenu.addMenuItem({
                        Identifier: "SSN-Plugins-UpdateSSApproverElement-Icon",
                        Label: "Upadte Self Service Approver Elements",
                        HRef: "javascript:void(0);",
                        CssClass: "SSN-Plugins-UpdateSSApproverElement-Icon"
                    });
                    quickMenu.onMenuItemClicked.subscribe(function (sender, e) {
                        if (e.menuItem.getIdentifier() === "SSN-Plugins-UpdateSSApproverElement-Icon") {
                            this._popup();
                        }
                    }, this);
                },

                _popup: function (sender, e) {
                    if (!this._pluginWindow) {
                        this._pluginWindow = new MarvalSoftware.UI.Window({
                            appendToElement: window.top.document.getElementById("aspnetForm"),
                            title: "Uppdate Approver Elements",
                            height: 300,
                            width: 600,
                            minHeight: 262,
                            minWidth: 432,
                            isResizable: true,
                            isMaximizable: true,
                            isModal: true,
                            bodyElement: this
                        });
                        this._renderElement();
                        this._renderApproverElementTitleList();
                        this._renderRoleList();
                    }
                    if (!this._pluginWindow.isVisible()) {
                        this._pluginWindow.centerToViewport();
                    }
                    this._pluginWindow.show();
                    // Add class to popup window
                    MarvalSoftware.UI.Dom.addClassName(this._pluginWindow._overlayElement, "SSN-Plugins-UpdateSSApproverElement-overlay");
                },

                _popupInfo: function (info) {
                    var infoTemplate = document.querySelector('.InfoTemplate').content;
                    var infoMessages = window.top.document.importNode(infoTemplate, true);
                    infoMessages
                    infoMessages.querySelector('div > h3').textContent = info;
                    MarvalSoftware.UI.MessageBox.show(
                        "Infomation",
                        infoMessages,
                        MarvalSoftware.UI.MessageBox.Types.INFORMATION,
                        [MarvalSoftware.UI.MessageBox.Buttons.OK],
                        MarvalSoftware.UI.MessageBox.Buttons.OK,
                        450
                    );
                },

                _updateApproverElement_click: function (sender, e) {

                    e.preventDefault();

                    var approverElementTitleSelected = this._approverElementTitleList.options[this._approverElementTitleList.selectedIndex].value;
                    var roleSelected = this._roleList.options[this._roleList.selectedIndex].value;

                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "handler/UpdateApproverElement.ashx?approverElementTitle=" + approverElementTitleSelected + "&role=" + roleSelected,
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            this._popupInfo(result);
                        }.bind(this)
                    });

                    e.preventDefault();
                },


                /* Get global settings to json */
                _getGlobalSettings: function () {
                    $.ajax({
                        type: "GET",
                        url: this._getPluginPath() + "Handler/GetGlobalSettings.ashx?GetGlobalSettings=true",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            this._globalSettings = result;
                        }.bind(this)
                    });
                },

                /* Get plugin path */
                _getPluginPath: function () {
                    return this.attributes["data-pluginpath"].value;
                },

                /* Get url parameter */
                _getURLParameter: function (name) {
                    return decodeURI(
                        (RegExp(name + '=' + '(.+?)(&|$)').exec(window.top.location.search) || [, null])[1]
                    );
                },
            });
    })();
</script>